.benefits-section{
    position: relative;
    background: url("../img/decor/benefits/big-leaf-grey.png") left top 53% no-repeat;
    /*padding: 102px 0 113px 0;*/

    &::before{
        content: url("../img/decor/benefits/raspberry.png");
        position: absolute;
        bottom: -121px;
        left: 0;
    }
}