.benefits-section {
    position: relative;
    background: url("../img/decor/benefits/big-leaf-grey.png") left top 53% no-repeat;
    padding: 99px 0 117px 0;

    &::before {
        content: url("../img/decor/benefits/raspberry.png");
        position: absolute;
        bottom: -114px;
        left: 0;
    }
}