.benefits-section {
    position: relative;
    background: url("../img/decor/benefits/big-leaf-grey.png") left top 42% no-repeat;
    padding: 1.7rem 0 6.4rem 0;

    @include tablets {
        background-position: left top 11%;
        min-height: 58.8rem;
    }

    @include phones {
        background: none;
        min-height: 60rem;
        padding: 0 0 0.9rem 0;
    }

    &::before {
        content: url("../img/decor/benefits/raspberry.png");
        position: absolute;
        bottom: -5.5rem;
        left: 0;

        @include tablets {
            bottom: -8rem;
        }

        @include phones {
            display: none;
        }
    }
}

