.button {
    padding: rem(22px) rem(41px);
    width: rem(156px);
    height: rem(60px);
    font-size: rem(16px);
    line-height: rem(18px);
    font-weight: 800;

    &--theme--white {
        background: #fff;
        color: $green-one;

        @include phones {
            font-size: 1.2rem;
            padding: 1.4rem 2.2rem;
            width: 9.9rem;
            height: 3.7rem;
        }

        &:hover {
            background: $green-one;
            color: #fff;
        }
    }

    &--theme--green {
        background: $green-two;
        color: #fff;

        @include tablets {
            width: 9.8rem;
            height: 3.7rem;
        }

        @include phones {
            width: 9.8rem;
            height: 3.7rem;
        }

        &:hover {
            color: $green-two;
            background: #fff;
        }
    }

    &--theme--transparent {
        color: $input-title;
        font-weight: normal;
        text-transform: none;
        font-size: rem(18px);
        margin-left: rem(-25px);

        @include tablets {
            margin-left: -0.4rem;
        }
    }

    &--theme--products {
        background-color: $green-one;
        color: #fff;

        &:hover {
            background-color: $green-two;
        }
    }
}