.button {
    padding: 22px 41px;
    width: 156px;
    height: 60px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;

    
    &_theme_white {
        background: #fff;
        color: $green-one;

        &:hover {
            background: $green-one;
            color: #fff;
        }
    }

    &_theme_green {
        background: $green-two;
        color: #fff;

        &:hover {
            color: $green-two;
            background: #fff;
        }
    }

    &_theme_transparent {
        color: $input-title;
        font-weight: normal;
        text-transform: none;
        font-size: 18px;
        margin-left: -25px;
    }

}