.contacts-section {
    position: relative;
   /* min-height: 41rem;

    @include tablets {
        min-height: 36.9rem;
        height: 87vh;
    }

    @include phones {
        min-height: 38.3rem;
        height: 85vh;
    }*/

    &__map {
        height: 100%;
    }

    &__img {
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

.contacts {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }

    &__adress {
        font-size: rem(21px);
        color: $black;

        @include phones {
            margin-bottom: 0.5rem;
        }
    }
}