.form__buttons {
    margin-top: rem(16px);

    @include tablets {
        display: flex;
        justify-content: center;
        margin-top: 1.1rem;
    }

    @include phones {
        margin-top: 1.6rem;
    }
}