.fullscreen-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    background: #333537;
    opacity: 0;
    z-index: $fs-menu;
    transition: all 0.4s;
}

.fullscreen-menu__active {
    left: 0;
    opacity: 1;
}

.menu .fullscreen-menu__menu__item {
    margin-right: 0px;
    margin-bottom: rem(5px);
    color: #fff;
    font-size: rem(38px);
    line-height: rem(72px);

    &:last-child {
        margin-bottom: 0;
    }
}