.hamburger {
    position: absolute;
    width: 1.5rem;
    height: 1.45rem;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    z-index: $burger;

    &__plank {
        height: 4px;
        display: block;
        background: #fff;
        border-radius: rem(10px);
    }

    @include tablets {
        display: inline-flex;
        visibility: visible;
        right: 4%;
        top:4%;
    }

    @include phones {
        right: 3%;
    }

    &--active {
        right: 4%;
        top: 4%;
        position: fixed;

        .hamburger__plank:nth-child(1) {
            opacity: 0;
        }

        .hamburger__plank:nth-child(2) {
            transform: rotate(45deg);
        }

        .hamburger__plank:nth-child(3) {
            transform: rotate(-45deg) translateY(-8px) translateX(6px)
        }
    }
}