.hamburger {
    position: fixed;
    width: 1.5rem;
    height: 1.45rem;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;

    .hamburger__plank {
        height: 4px;
        display: block;
        background: #fff;
        border-radius: rem(10px);
    }

    @include tablets {
        display: inline-flex;
        visibility: visible;
        right: 4%;
    }

    @include phones {
        right: 0.7%;
    }
}

.hamburger__active {
    right: 4%;
    top: 4%;

    .hamburger__plank:nth-child(1) {
        opacity: 0;
    }

    .hamburger__plank:nth-child(2) {
        transform: rotate(45deg);
    }

    .hamburger__plank:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px) translateX(6px)
    }
}