.hero {
    background: url("../img/decor/hero/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    position: relative;

    &::before {
        content: url("../img/decor/hero/corner-leaf.png");
        position: absolute;
        bottom: -36px;
        left: 3%;
    }

    &::after {
        content: url("../img/decor/hero/comp.png");
        position: absolute;
        bottom: -55px;
        right: 0%;
    }
}

.hero__container {
    background: url("../img/decor/hero/chocolates.png") right center/50% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 22px 0 59px 0;
}

.hero__title-section {
    width: 43%;
}

.hero__main-title {
    font-size: 48px;
    line-height: 59px;
    font-weight: bold;
    margin-bottom: 19px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 48px;
    padding-right: 64%;
    line-height: 25px;
}