.menu {
    margin: 0 rem(14px);
    padding-top: rem(7px);

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 1.75rem;
        margin-bottom: rem(-10px);
    }

    &__item {
        margin-right: rem(27px);
        margin-bottom: rem(10px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        white-space: nowrap;
    }

    @include tablets {
        display: none;
    }

    &--pos-vertical {
        margin: 0;
        padding-top: 0;
        width: 253px;
        height: 510px;

        .menu__list {
            flex-direction: column;
            margin-right: 0rem;
            flex-wrap: nowrap;
        }

        .menu__item {
            margin-right: 0px;
            margin-bottom: rem(5px);
            color: #fff;
            font-size: rem(38px);
            line-height: rem(72px);

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include tablets {
            display: flex;
        }
    }
}