.menu__pos__vertical {
    .menu__list {
        flex-direction: column;
        margin-right: 0rem;
        flex-wrap: nowrap;
    }

    .menu__item {
        margin-right: 0px;
        margin-bottom: rem(5px);
        color: #fff;
        font-size: rem(38px);
        line-height: rem(72px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}