.order {
    position: relative;
    background: url("../img/bg/delivery-back.png") no-repeat;
    background-size: cover;

    &::before {
        content: url("../img/decor/order/blueberry.png");
        position: absolute;
        bottom: rem(62px);
        left: 4.6%;

        @include tablets {
            display: none;
        }
    }

    &::after {
        content: url("../img/decor/order/order-leaf.png");
        position: absolute;
        bottom: rem(49px);
        right: 0.9%;

        @include tablets {
            display: none;
        }
    }

    &__title {
        color: $green-one;
        text-transform: uppercase;
        margin-bottom: 3.5rem;

        @include tablets {
            margin-bottom: 2rem;
        }

        @include phones {
            font-size: 2.5rem;
            margin-bottom:2.3rem;
        }
    }
}