.phone-number {
    font-size: rem(22px);
    display: flex;
    align-items: center;
    margin-top: rem(4px);

    &__icon {
        flex-shrink: 0;
    }

    &__icon-elem {
        height: rem(14px);
        width: rem(14px);
        margin-right: rem(6px);
        fill: #fff;

        &--bg--green {
            fill: $input-title;
        }
    }

    &__text {
        white-space: nowrap;
        color: #fff;

        &--bg--green {
            color: $input-title;
        }
    }
}

