.products-slider {
    position: relative;
    display: flex;
    justify-content: center;

    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.product-slider__arrow {
    position: absolute;
    z-index: 20;

    &--direction--prev {
        top: 50%;

        @include tablets {
            top: 30%;
            right: 85%;
        }

        @include phones {
            top: 30%;
            right: 95%;
        }
    }

    &--direction--next {
        top: 50%;
        right: 1%;

        @include tablets {
            top: 30%;
            right: 5%;
        }

        @include phones {
            top: 30%;
            right: 0%;
        }
    }
}


.products {
    /*max-width: 97%;*/
    display: flex;
}