.products-slider {
    position: relative;
    display: flex;
    justify-content: center;

    &__arrows--direction-prev {
        position: absolute;
        top: 50%;

        @include tablets {
            top:30%;
            right: 85%;
        }

        @include phones {
            top:30%;
            right: 95%;
        }
    }

    &__arrows--direction-next {
        position: absolute;
        top: 50%;
        right: 1%;

        @include tablets {
            top:30%;
            right: 5%;
        }

        @include phones {
            top:30%;
            right: 0%;
        }
    }
}

.products {
    max-width: 97%;
}