.reviews__container {
    position: relative;

    &::before {
        content: url("../img/decor/reviews/berries.png");
        position: absolute;
        bottom: -143px;
        left: -16.5%;
        z-index: 1;
    }

}