$containerWidth:956px;
$baseFontSize:18px;

//colors
$blue:#61c4d9;
$darkgreen:#0b4d3c;
$input-title:#497870;
$green-one: #365A49;
$green-two: #2E4E3F;
$black:#292929;

//z-indexes
$z-fixed-menu:100;

//normalize
@import url('./styles/layout/normalize.css');

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import "./styles/layout/base";

//blocks
@import "./styles/blocks/section";
@import "./styles/blocks/hero";
@import "./styles/blocks/header";
@import "./styles/blocks/logo";
@import "./styles/blocks/menu";
@import "./styles/blocks/phone";
@import "./styles/blocks/button";
@import "./styles/blocks/features";
@import "./styles/blocks/feature";
@import "./styles/blocks/benefits-section";
@import "./styles/blocks/headline";
@import "./styles/blocks/benefits";
@import "./styles/blocks/benefit";
@import "./styles/blocks/reviews-section";
@import "./styles/blocks/reviews__display";
@import "./styles/blocks/reviews__switcher";
@import "./styles/blocks/interactive-avatar";
@import "./styles/blocks/order-section";
@import "./styles/blocks/order__title";
@import "./styles/blocks/form";
@import "./styles/blocks/radio";
@import "./styles/blocks/form__buttons";
@import "./styles/blocks/map__img";
@import "./styles/blocks/fixed-menu";