@import url("./styles/layout/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 976px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 956px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 100px;
  line-height: 1;
}
.button:focus {
  outline: none;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_font-color_green {
  color: #497870;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 57, 6px;
  color: #292929;
  margin-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
}

.hero {
  background: url("../img/decor/hero/big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero::before {
  content: url("../img/decor/hero/corner-leaf.png");
  position: absolute;
  bottom: -36px;
  left: 3%;
}
.hero::after {
  content: url("../img/decor/hero/comp.png");
  position: absolute;
  bottom: -55px;
  right: 0%;
}

.hero__container {
  background: url("../img/decor/hero/chocolates.png") right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 22px 0 59px 0;
}

.hero__title-section {
  width: 43%;
}

.hero__main-title {
  font-size: 48px;
  line-height: 59px;
  font-weight: bold;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 48px;
  padding-right: 64%;
  line-height: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-right: 41px;
}

.menu__list {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.button {
  padding: 22px 41px;
  width: 156px;
  height: 60px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
}
.button_theme_white {
  background: #fff;
  color: #365A49;
}
.button_theme_white:hover {
  background: #365A49;
  color: #fff;
}
.button_theme_green {
  background: #2E4E3F;
  color: #fff;
}
.button_theme_green:hover {
  color: #2E4E3F;
  background: #fff;
}
.button_theme_transparent {
  color: #497870;
  font-weight: normal;
  text-transform: none;
  font-size: 18px;
  margin-left: -25px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 48px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  align-items: center;
}

.feature__icon {
  width: 45px;
  height: 36px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
  max-width: 75px;
  line-height: 18px;
}

.benefits-section {
  position: relative;
  background: url("../img/decor/benefits/big-leaf-grey.png") left top 53% no-repeat;
  padding: 99px 0 117px 0;
}
.benefits-section::before {
  content: url("../img/decor/benefits/raspberry.png");
  position: absolute;
  bottom: -114px;
  left: 0;
}

.headline {
  text-align: center;
  margin-bottom: 49px;
}

.headline__title {
  margin-bottom: 14px;
}

.headline__subtitle {
  padding: 0 26%;
  line-height: 22.6px;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;
}
.benefits__item::before {
  content: url("../img/icons/combined-shape-first.svg");
  position: absolute;
  top: 60px;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 13px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #F2F5F4;
}

.benefit__icon {
  width: 64px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 18px;
}

.benefit__desc {
  line-height: 23px;
}

.reviews-section {
  position: relative;
  background: url("../img/decor/reviews/strawberries.png") top 6.4% right 1.9% no-repeat;
}
.reviews-section::before {
  content: url("../img/decor/reviews/leaf-vertical.png");
  position: absolute;
  bottom: -167px;
  left: 0%;
  z-index: 1;
}
.reviews-section::after {
  content: url("../img/decor/reviews/berries.png");
  position: absolute;
  bottom: -95px;
  left: 0%;
  z-index: 20;
}

.reviews__display {
  position: relative;
  background-color: #F8FAF9;
  padding: 42px 177px 42px 48px;
  margin-bottom: 13px;
  overflow: hidden;
}
.reviews__display:before {
  content: "";
  position: absolute;
  display: block;
  width: 83px;
  height: 83px;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%);
  top: -61px;
}
.reviews__display::after {
  content: url("../img/decor/reviews/raspberry-branch.png");
  position: absolute;
  top: 6%;
  right: 1%;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 263px;
}

.reviews__avatar__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 39px;
  padding: 28px 0;
}

.reviews__title {
  font-size: 27px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #292929;
}

.reviews__text {
  margin-bottom: 25px;
  line-height: 22.6px;
}

.reviews__author {
  color: #292929;
  line-height: 24px;
  font-weight: 500;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar__active {
  border-color: #0b4d3c;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  position: relative;
  background: url("../img/bg/delivery-back.png") no-repeat;
  background-size: cover;
  object-fit: cover;
}
.order-section::before {
  content: url("../img/decor/order/blueberry.png");
  position: absolute;
  bottom: 62px;
  left: 4.6%;
}
.order-section::after {
  content: url("../img/decor/order/order-leaf.png");
  position: absolute;
  bottom: 49px;
  right: 0.9%;
}

.order__title {
  color: #365A49;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.form {
  display: flex;
  padding: 1px 2px 0 8px;
}

.form__col {
  flex: 1;
  margin-right: 31px;
}
.form__col:last-child {
  margin-right: 0px;
}

.form__row {
  display: flex;
  margin-bottom: 13px;
}
.form__row:last-child {
  margin-bottom: 0px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 15px 12px;
  border: solid 3px transparent;
  border-radius: 4px;
  outline: darkgreen;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
.form__input__textarea {
  width: 450px;
  height: 152px;
  resize: none;
  margin-bottom: 19px;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 19px;
}
.form__controls_last-elem {
  margin-bottom: 0px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 23px;
}
.radio:last-child {
  margin-right: 0;
}
.radio__checkbox .radio__visible {
  border-radius: 4px;
}
.radio__checkbox .radio__visible::before {
  background: url("../img/icons/vector.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin-right: 11px;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #365A49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form__buttons {
  margin-top: 44px;
  margin-left: -10px;
}

.map__img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fixed-menu {
  position: fixed;
  top: 42%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 6px;
  position: relative;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}